<?xml version="1.0"?>
<robot name="8x8" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="wheelRadius" value="0.07"/>
<xacro:property name="wheelLength" value="0.05"/>
<xacro:property name="leftWheel" value="left_wheel"/>
<xacro:property name="rightWheel" value="right_wheel"/>

<xacro:macro name="wheel" params="side num reflect">
  <link name="${side}_${num}">
    <visual>
      <geometry>
        <cylinder length="${wheelLength}" radius="${wheelRadius}"/>
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <geometry>
         <cylinder length="${wheelLength}" radius="${wheelRadius}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value = "1" />
      <inertia ixx="0.005391667" ixy="0.0" ixz="0.0" iyy="0.005391667" iyz="0.0" izz="0.245"/>
    </inertial>
</link>

  <joint name="${side}_${num}_joint" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.5"/>
    <parent link="base_link"/>
    <child link="${side}_${num}"/>
    <origin rpy="0 ${pi/2} 0" xyz="${0.1 * reflect} ${0.3 - (0.2 * num)} 0.12"/>
  </joint>
</xacro:macro>

<xacro:macro name="transmissions" params="num side">

    <transmission name="${side}_${num}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${side}_${num}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="${side}_${num}_joint">
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <gazebo reference="${side}_${num}">
      <mu1 value="200.0"/>
      <mu2 value="100.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>
</xacro:macro>

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

 <material name="black">
    <color rgba="0 0 0 1"/>
  </material>


  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.8 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.2"/>
      <material name = "blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.8 0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value = "10" />
      <inertia ixx="0.5667" ixy="0.0" ixz="0.0" iyy="0.5667" iyz="0.0" izz="0.0667"/>
    </inertial>
  </link>

  
<xacro:wheel side="left_wheel" num="0" reflect="-1"/>
<xacro:wheel side="left_wheel" num="1" reflect="-1"/>
<xacro:wheel side="left_wheel" num="2" reflect="-1"/>
<xacro:wheel side="left_wheel" num="3" reflect="-1"/>
<xacro:wheel side="right_wheel" num="0" reflect="1"/>
<xacro:wheel side="right_wheel" num="1" reflect="1"/>
<xacro:wheel side="right_wheel" num="2" reflect="1"/>
<xacro:wheel side="right_wheel" num="3" reflect="1"/>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

<xacro:transmissions side="left_wheel" num="0"/>
<xacro:transmissions side="left_wheel" num="1"/>
<xacro:transmissions side="left_wheel" num="2"/>
<xacro:transmissions side="left_wheel" num="3"/>
<xacro:transmissions side="right_wheel" num="0"/>
<xacro:transmissions side="right_wheel" num="1"/>
<xacro:transmissions side="right_wheel" num="2"/>
<xacro:transmissions side="right_wheel" num="3"/>

</robot>
